@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Changa:wght@200&display=swap');

header {
  background-color: #84b4b1;
  color: #fff;
  text-align: center;
  padding: 30px 0 120px;
  margin: 0;

}
header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  font-family: "Montserrat", sans-serif;
}
header h1 span {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 25px;
  line-height: 1;
}
header p {
  padding-top: 30px;
}

body { margin: 0; padding: 0;
      font-family: 'Changa', sans-serif;
      text-align: center;
      font-size: 20px;
        color: #011627;
        opacity: .7;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
     }


h1 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #011627;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;

}

h2 {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #011627;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;

}


.carousel-inner{
  width:100%;
  max-height: 400px !important;
}
.carousel {
  overflow:hidden;
  height: 50%;

}


.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #2EC4B6;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #2EC4B6;
  color: white;
}


.search-form-control {
  position: relative;
}

.search-form-control .btn {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #2EC4B6;
}

.search-form-control .form-control:focus {
  border: 1px solid #2EC4B6;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
}

.lomo img {
  filter: saturate(1.5) contrast(1.3) blur(0.2px) brightness(1.1);
  position: relative;
  float: center;
      width:  250px;
      height: 250px;
      object-fit:none;
      padding: 10px;
}

.card {
  width: 300px; /*1*/
  margin: 0px auto; /*2*/
  background-color: white; /*3*/
  box-shadow: 0px 5px 20px #999; /*4*/
}
.card a { /*5*/
  color: #333;
  text-decoration: none;
}
.card:hover .card-image img { /*6*/
  width: 160%;
  filter: grayscale(0);
}

.card-image {
  height: 250px;/*1*/
  position: relative;/*2*/
  overflow: hidden;/*3*/
}
.card-image img {
  width: 150%;/*4*/
    /*5 - Méthode de centrage en fonction de la taille de l'image */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    /*7 - Transition */
  transition-property: filter width;
  transition-duration: .3s;
  transition-timing-function: ease;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#2EC4B6, #2EC4B6);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#2EC4B6, #2EC4B6);
  color: white;
}


